.search-view {
    width: 100%;
    display: flex;
}

.search-view__input-container {
    flex-grow: 1;
    min-width: 50px;
    position: relative;
}

.search-view__input {
    width: 100%;
}

.search-view__label {
    flex-shrink: 0;
    margin-right: 10px;
}

.search-view__dropdown-list {
    list-style: none;
    position: absolute;
    top: 10px;
    left: 0;
    background-color: white;
    width: 100%;
    padding: 5px;
}

.search-view__li {
    width: 100%;
    cursor: pointer;
}

.search-view__li_active {
    background-color: lightblue;
}