.search-view {
    width: 100%;
    min-width: 50px;
}

.search-view__input-container {
    position: relative;
}

.search-view__input {
    width: 100%;
}
.search-view__dropdown-list {
    list-style: none;
    position: absolute;
    top: 9px;
    left: 0;
    background-color: white;
    width: 100%;
    padding-left: 5px;
    box-shadow: 0 2px 2px 2px #AAAAAA;
}

.search-view__li {
    width: 100%;
    cursor: pointer;
}

.search-view__li_active {
    background-color: lightblue;
}