.country {
    width: 70%;
    max-width: 1024px;
}
.country__bar {
    padding: 10px;
    background-color: bisque;
    margin-bottom: 10px;
    display: flex;
    min-width: 200px;
}
.country__search {
    flex-grow: 1;
}
.country__lang {
    margin-left: 10px;
    flex-shrink: 0;
}
.country__info {

}